.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='/') Drug Dealer
      ul.nav

.container
  .row
    .span3
      form(action='/', method='post')
        div.control-group
          label.control-label(for='category') Category
          select#category(multiple='multiple', name='category[]')
            each cat in categories
              option= cat

        div.control-group
          label.control-label(for='frequency') Frequency
          select#frequency(multiple='multiple', name='frequency[]')
            each freq in frequencies
              option= freq

        div.control-group
          label.control-label(for='description') Description
          input#description(name='description')

        p
          button.btn.btn-primary(type='submit') Search

    .span9
      each dose in doses
        dl.dl-horizontal.well
          dt Name
          dd= dose.name
          dt Category
          dd= dose.category
          dt Frequency
          dd= dose.frequency
          dt Duration
          dd= dose.duration
          dt Description
          dd= dose.description
